<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JustDoItmini</title>
    
  </head>
  <body class="w-full justify-content" >
    <div class="flex-col ">
      <div class="flex justify-center">
        <span
        class="title text-2xl sm:text-4xl md:text-6xl lg:text-7xl xl:text-8xl font-bold mb-4"
        style="
          font-size: 8rem; /* Adjust the size as needed */
          font-weight: bold;
          margin-bottom: 1rem;
          font-family:Arial, Helvetica, sans-serif;
          
        "
        >just-do-It</span
      >
      <span class="font-italic" style="font-style: italic;">mini</span>
      </div>
      
      <div class="w-full bg-gray-100" style="padding-top: 10rem; padding-bottom: 20rem;;">
        <div class="w-full"><%- include('partials/_doListApp') %></div>
      </div>
      
    </div>
  </body>
</html>
